# dir
env
backup
__pycache__
.cache
.idea
phantomjs*


# .py
*.py[cod]
testdb.py
secrets.py
setupdb.py


# executions
*.exe


# logs
*.log


# configs
*.yaml
!config.example.yaml
!logging.yaml


# databases
*.db

# other
*.png
